* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 95%;
    margin: 3rem auto
}
.gallery {
    display: grid;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
}

input {
    display: block;
    font-size: 20px;
    width: 70%;
    max-width: 760px;
    height: 40px;
    padding: 0.5rem;
    margin: 2em auto;
    border-radius: 10px;
}

img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .7);
}

.hide {
    display: none;
}

.show {
    display: block;
}